html {
  font-size: 16px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #2D6F27;
  font-family: 'Berkshire Swash', cursive;
}

.container {
  background-color: #F8F9FA;
}

.top {
  background-image: linear-gradient(#ADFFAD,#9CCC65);
  height: 5rem;;
  font-size: 1.2rem;
  padding: .5rem, 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top img {
  height: 1.5rem;
  display: block;
}

.intouch {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
}


nav {
  background-color: #F8F9FA;
}
.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-around;
}

.mb-3, .my-3 {
  margin-bottom: 0;
}

.bg-light {
  background-color: white;
}

.nav-link:hover {
  color: #99aa00;
  font-weight: bold;
}

#carousel {
  padding: 0;
}

.promotion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(#006630,#013017);
  padding: 0
}

.gmu {
  width: 10%;
  height: auto;
  background-color: white;
  margin-right: 2rem;
}

.gmu img {
  width: 100%;
  padding: 1rem 1rem 1rem 5rem;
  height: auto;
}

.deals {
  color: white;
  width: 80%;
  height: auto;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}
.banner {
  height: 40rem;
  overflow: hidden;
  }

.banner img {
  top: 20px;
  left: 20px;
}

.logo, .banner.carousel-inner {
  position: absolute;
}

.logo {
  z-index: 10;
  text-align: center;
  margin-top: 10rem;
}

.logo img {
  width: 40%;
  padding: 20px;
  background-color: black;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8rem;
  justify-content: space-between;
  align-items: center;
}

.images {
  padding: 30px;
}
.samples {
  box-shadow: -20px -19px 0px #9CCC65;
}

.img-gallery {
  width: 50%;
  margin-top: 5rem;
}

.mission {
  width: 40%;
}

.mission h3{
  color: #859E35;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  padding: 3rem 5rem;
  text-align: center;
  width: 100%;
  justify-content: center;
}

#Services {
  background-color: #EAEBEF;
  padding-top: 50px;
}

#Services .goto {
  margin-top: -250px;        /* Size of fixed header */
padding-bottom: 300px;
display: block;
}

.serv-icon {
  width: 17%;
  margin: 15px;
  padding: 10px;
  border: 1px solid #9CCC65;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.serv-icon img {
  display: block;
  align-self: center;
  width: 100%;
}

.serv-icon span {
  font-family: cursive;
  font-size: 1.5rem;
}

footer {
  border-top: 5px solid green;
  background-image: linear-gradient(#ADFFAD,#9CCC65);
}

.footer {
  padding: 8rem 13rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  vertical-align: middle;
}

.footer img {
  height: 3rem;
}

.footer h5 {
  text-transform: uppercase;
}
.footer span {
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (min-width : 320px) and (max-width : 1024px) {
  .top span {
    visibility: hidden;
  }

  .top {
    justify-content: center;
  }

  .gmu {
    visibility: hidden;
  }

  .deals {
    margin-left: -1rem;
    font-size: 1.2rem;
  }
  .banner {
    height: 25rem;
  }

  .banner a {
    visibility: hidden;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
  }

  .img-gallery {
    width: 100%;
    padding: 0;
    margin-top:-8rem;
  }

  .img-gallery a {
    visibility: hidden;
  }

  .mission {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  .mission h1 {
    font-size: 2rem;
    margin-top: -10rem;
  }

  .serv-icon {
    width: 100%;
  }

  .serv-icon span {
    font-size: 1rem;
  }

  .footer {
    padding: 5rem 5rem;
    justify-content: center;
    border-top: 10px solid #859E35;
  }

  .hours {
    text-align: center;
    margin-top: .75rem;
    line-height: 1.2;
  }
  .footer img {
    height: 2rem;
  }

  .image {
    margin-top: -25%;
  }

  .banner a {
    margin-top: -90%;
    padding: -3rem;
    margin-left: 1rem;
  }

  .img-gallery a {
    margin-top: -50%;
    padding: -3rem;
    margin-left: 1rem;
  }

}
